.heading{
  background-color: white;
  text-align: center;
}
.heading h1{
  font-size: 30px;
}
.heading p{
  font-size: 15px;
  color:black;
}
.title{
  font-size: 20px;
  font-weight: bold;
  margin: 25px;
}
.card{
  width: 180px;
  text-align: center;
  background-color: white;
}
.card a{
  font-size: 15px;
}
.dish-heading{
  border-bottom: 1px solid #cfc7c7;
  padding: 15px 30px;
  background-color: white;
}

.dish-body{
  max-width: 650px;
  padding: 0 20px;
}
.dish-body ul {
  line-height: 2;
}
.dish-body ol{
  line-height: 2;
}
